@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

.header {
  box-shadow: 0px 1px 5px 0px rgb(198, 198, 198);
  background-color: #fff;
  height: 5rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90%;
  max-width: 1200px;
  height: 100%;
}

.header .title {
  font-size: 1.8rem;
  font-weight: 700;
}

.header .nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.nav-items li {
  font-size: 1rem;
  padding: 0 1.8em;
}

.nav-items li a {
  color: #333;
  text-decoration: none;
}

.nav-items li a:hover {
  color: #ff6d00;
}

.main {
  padding: 2.2rem;
}

.main .container {
  margin: auto;
  width: 90%;
  max-width: 1200px;
}

.main .container .search-container {
  border: 1px solid #8a8a8a;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.main .container .search-container input {
  border: none;
  font-size: 1rem;
  font-weight: 500;
  width: 90%;
  height: 100%;
  padding: 1rem;
  margin-left: 2px;
  outline: none;
}

.main .container .search-container .search-btn {
  background-color: transparent;
  color: #333;
  border: none;
  border-radius: 0rem 0.2rem 0.2rem 0rem;
  font-size: 1rem;
  cursor: pointer;
  width: 10%;
}

.main .container .search-container .search-btn:hover {
  color: #f48c06;
  /* background-color: #f48c06;
  color: #fff;
  font-weight: bold; */
}

.main .restaurant-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.main .restaurant-list a {
  border-radius: 1rem;
  color: #333;
  text-decoration: none;
  margin: 1rem 0.8rem;
}

.main .restaurant-list a:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(0.96);
}

.main .restaurant-list .restaurant-card {
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 270px;
}

.main .restaurant-list .restaurant-card .restaurant-image {
  border-radius: inherit;
  width: 100%;
  height: 180px;
}

.main .restaurant-list .restaurant-card .restaurant-image img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.main .restaurant-list .restaurant-card .restaurant-details {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 1rem;
}

.main .restaurant-list .restaurant-card .restaurant-details .title {
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
}

.main .restaurant-list .restaurant-card .restaurant-details .rating {
  font-size: 1rem;
  font-weight: 500;
}

.main .restaurant-list .restaurant-card .restaurant-details .rating span {
  font-size: 1.2rem;
  padding-right: 0.2rem;
}

.main .restaurant-list .restaurant-card .restaurant-details .cuisines {
  color: #656565;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
}

.main .restaurant-list .restaurant-card .restaurant-details .area {
  color: #656565;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
}

.main .restaurant-list .no-restaurant-text {
  font-size: 1rem;
  margin: 4rem auto;
}

.offline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  margin: 4rem auto;
}

.offline p {
  margin-top: 0.6rem;
}

.shimmer {
  padding: 2.2rem;
}

.shimmer .container {
  margin: auto;
  width: 90%;
  max-width: 1200px;
}

.shimmer .container .search-container {
  border-radius: 0.2rem;
  background-color: #e8e8e8;
  width: 70%;
  height: 50px;
  margin: auto;
}

.shimmer .shimmer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.shimmer .shimmer-list .shimmer-card {
  border-radius: 1rem;
  width: 270px;
  margin: 1rem 0.8rem;
}

.shimmer .shimmer-list .shimmer-card .shimmer-image {
  background-color: #e8e8e8;
  border-radius: inherit;
  width: 100%;
  height: 180px;
}

.shimmer .shimmer-list .shimmer-card .shimmer-details {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 1rem;
}

.shimmer .shimmer-list .shimmer-card .shimmer-details .detail {
  background-color: #e8e8e8;
  border-radius: 4px;
  height: 24px;
  margin-bottom: 0.5rem;
}

.shimmer .shimmer-list .shimmer-card .shimmer-details .detail-1 {
  width: 80%;
}

.shimmer .shimmer-list .shimmer-card .shimmer-details .detail-2 {
  width: 40%;
}

.shimmer .shimmer-list .shimmer-card .shimmer-details .detail-3 {
  width: 90%;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}

.footer p {
  font-size: 1rem;
  padding: 0.6rem;
}

.restaurant-main {
  padding: 2.2rem;
}

.restaurant-main .container {
  margin: auto;
  width: 90%;
  max-width: 1200px;
}

.restaurant-main .restaurant-details {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.restaurant-main .restaurant-details .restaurant-image {
  border-radius: 1rem;
  width: 270px;
  height: 180px;
  margin-left: 2rem;
  margin-right: 1.2rem;
}

.restaurant-main .restaurant-details .restaurant-image img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.restaurant-main .restaurant-details .restaurant-info {
  display: flex;
  flex-direction: column;
}

.restaurant-main .restaurant-details .restaurant-info .title {
  font-size: 1.2rem;
}

.restaurant-main .restaurant-details .restaurant-info .rating {
  font-size: 1rem;
  font-weight: 500;
}

.restaurant-main .restaurant-details .restaurant-info .rating span {
  font-size: 1.2rem;
  padding-right: 0.2rem;
}

.restaurant-main .restaurant-details .restaurant-info .cuisines {
  color: #656565;
  font-size: 1rem;
}

.restaurant-main .restaurant-details .restaurant-info .area {
  color: #656565;
  font-size: 1rem;
}

.restaurant-main .restaurant-details .restaurant-info .cost {
  color: #656565;
  font-size: 1rem;
  font-weight: 700;
}

.restaurant-main .restaurant-menu .category-container {
  margin: 4rem 1rem;
  padding: 1rem 0;
}

.restaurant-main .restaurant-menu .category-container .category {
  border-bottom: 1px solid #d0d0d0;
  font-size: 1.2rem;
  font-weight: 700;
  width: 90%;
  text-align: center;
  padding-bottom: 1rem;
  margin: auto;
}

.restaurant-main .restaurant-menu .category-container .menu-items {
  padding-top: 2rem;
}

.restaurant-main .restaurant-menu .category-container .menu-items .menu-item {
  border-bottom: 1px solid #d0d0d0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  padding-bottom: 2rem;
}

.restaurant-main .restaurant-menu .category-container .menu-item .item-details {
  padding-right: 1rem;
}

.restaurant-main
  .restaurant-menu
  .category-container
  .menu-item
  .item-details
  .title {
  font-size: 1.2rem;
  font-weight: 500;
}

.restaurant-main
  .restaurant-menu
  .category-container
  .menu-item
  .item-details
  .price {
  font-size: 1rem;
  font-weight: 500;
}

.restaurant-main
  .restaurant-menu
  .category-container
  .menu-item
  .item-details
  .description {
  color: #656565;
  font-size: 1rem;
  margin-top: 0.6rem;
}

.restaurant-main
  .restaurant-menu
  .category-container
  .menu-items
  .menu-item
  .item-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-main
  .restaurant-menu
  .category-container
  .menu-items
  .menu-item
  .item-image
  .add-btn {
  background-color: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.4rem 1.6rem;
  margin: -1rem;
}

.restaurant-main
  .restaurant-menu
  .category-container
  .menu-items
  .menu-item
  .item-image
  .add-btn:hover {
  color: #ff6d00;
}

.restaurant-main
  .restaurant-menu
  .category-container
  .menu-items
  .menu-item
  .item-image
  img {
  border-radius: 0.4rem;
  width: 120px;
  height: 100px;
}
