* {
  box-sizing: border-box;
}

.header {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.nav-items > li {
  padding: 0 8px;
}

.main {
  border: 1px solid black;
  margin: 8px 0;
  padding: 40px;
}

.search-container {
  border: 1px solid black;
  padding: 12px;
}

.search-container > input {
  margin-right: 8px;
}

.restaurant-list {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 40px 100px;
}

.restaurant-card {
  border: 1px solid black;
  border-radius: 12px;
  /* height: 200px; */
  width: 250px;
  margin: 20px;
  padding: 12px;
}

.restaurant-card > img {
  border-radius: 12px;
  width: 100%;
}

.shimmer-card {
  background-color: lightgray;
  border-radius: 12px;
  width: 250px;
  height: 200px;
  margin: 20px;
  padding: 12px;
}

.footer {
  border: 1px solid black;
  text-align: center;
}

.restaurant-details {
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
  padding: 12px 100px;
}

.restaurant-image {
  margin-right: 12px;
}

.restaurant-image > img {
  border-radius: 12px;
  /* width: 220px; */
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.restaurant-info {
  padding: 20px 12px;
}

.menu-category {
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}

.food-item {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 80px;
  margin: 10px;
}

.food-item-details {
  margin-right: 50px;
}

.food-item-image {
  display: flex;
  flex-direction: column;
}

.food-item-image > img {
  border-radius: 6px;
  width: 140px;
}

.add-btn {
  background-color: transparent;
  padding: 8px 20px;
  margin: 12px;
  cursor: pointer;
}

.food-item > .food-image {
  width: 200px;
  margin: 20px;
}

.food-item > .food-image > img {
  width: 100%;
  height: 100%;
}

.clear-btn {
  background-color: transparent;
  padding: 8px 20px;
  margin: 12px;
  cursor: pointer;
}
