.header {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.nav-items > li {
  padding: 0 8px;
}

.main {
  border: 1px solid black;
  margin: 8px 0;
  padding: 40px;
}

.search-container {
  border: 1px solid black;
  padding: 12px;
}

.search-container > input {
  margin-right: 8px;
}
